:root {
    --deep-blue: #004a7c;
    --turquoise: #157a6e;
    --white: #f5f5f5;
    --stone-gray: #a9a9a9;
}

/* General Styling */
body {
    font-family: "Open Sans", sans-serif;
    color: var(--stone-gray);
    background-color: var(--white);
    margin: 0;
    padding: 0;
    max-width: 1200px; /* Limit page width for better design control */
    margin: auto;
}

/* Headings */
h1, h2,{
    font-family: "Oswald", sans-serif;
    color: var(--turquoise);
    margin: 20px 0;
}

/* Paragraphs */
p {
    font-size: 1.2rem;
    color: var(--deep-blue);
    line-height: 1.6;
    margin: 0;
    text-align: justify;
}

/* Social Media Links */
.social-media a {
    text-decoration: none;
}

/* Hero Container */
.hero {
    position: relative;
}
  
.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    color: var(--stone-gray);
    background-color: rgba(60, 11, 80, 0.5); /* Semi-transparent black background */
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 3rem;
    transform: translateX(-50%);
}

.hero article {
    position: absolute;
    bottom: 10px;
    left: 10%;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    
    
}

.hero article img {
    float: right;
    max-width: 40%;
    height: auto;
    margin-left: 15px;  
      
}

.social-media a img {
    display: inline-block;
    margin: 0 0.5rem;
}

/* Footer Styling */
footer {
    background-color: var(--stone-gray);
    color: var(--stone-gray);
    text-align: center;
    padding:  0;
    margin-top: 1rem;
  }
  
  footer p {
    margin: 0.5rem 0;
    font-size: 0.9rem;
  }

  /* Social Media Links */
footer .sociallinks {
  
  justify-content: center;
  gap: 15px; /* Space between icons */
  margin-top: 1rem;
}

footer .sociallinks a img {
    width: 30px;
    height: 30px;
    display: inline-block;
    
  }
  
  footer .sociallinks a img:hover {
    transform: scale(1.1); /* Slightly enlarge on hover */
  }
  

