:root {
    --deep-blue: #004a7c;
    --turquoise: #157a6e;
    --white: #f5f5f5;
    --stone-gray: #a9a9a9;
}

/* General Styling */
body {
    font-family: "Open Sans", sans-serif;
    line-height: 0.1px;
    color: var(--stone-gray);
    margin: 0;
    padding: 0;
    max-width: 1100px; /* Limit page width for better design control */
    margin: 7%;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: "Oswald", sans-serif;
    color: var(--turquoise);
}

/* Paragraphs */
p {
    font-size: 20%;
    color: var(--deep-blue);
    margin: auto;
}

/* Social Media Links */
.social-media a {
    text-decoration: none;
}

/* Hero Container */
.hero {
    position: relative;
}
  
.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20%;
    left: 5%;

    color: var(--stone-gray);
    background-color: rgba(148, 153, 101, 0.6); /* Semi-transparent black background */
    padding: 10px 20px;
    font-size: 40px;
    border-radius: 5px;
}

.hero article {
    position: absolute;
    bottom: 10%;
    left: 5%;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    padding: 20px;
    border-radius: 8px;
    max-width: 0.1px;
}

.hero article img {
    float: right;
    width: 15px;
    height: 150px;
    margin-left: 0%; 
    border-radius: 8px;
    
}

.social-media a img {
    display: inline-block;
    margin: 0 0.5rem;
}

/* Footer Styling */
footer {
    background-color: var(--stone-gray);
    color: var(--stone-gray);
    text-align: center;
    padding:  0;
    margin-top: 1rem;
  }
  
  footer p {
    margin: 0.5rem 0;
    font-size: 0.9rem;
  }

  /* Social Media Links */
footer .sociallinks {
  
  justify-content: center;
  gap: 15px; /* Space between icons */
  margin-top: 1rem;
}

footer .sociallinks a img {
    width: 30px;
    height: 30px;
    display: inline-block;
    
  }
  
  footer .sociallinks a img:hover {
    transform: scale(1.1); /* Slightly enlarge on hover */
  }
  

