:root {
    --heading-background-color: rgb(98, 0, 255);
    --heading-text-color: #130101;
    --heading-font: 'Montserrat', Helvetica, sans-serif;
    --padding: 1rem;
    --border: 1px solid rgb(0 0 0/ 0.1);
}
nav {
    background-color: rgba(30, 30, 212, 0.733);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    background-color: var(--heading-background-color);
    color: var(--heading-text-color);
    font-family: var(--heading-font);
    padding: var(--pading);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 10px;
}

main {
    max-width: 840px;
}
aside {
    margin: 10px auto;
    padding: var(--padding);
    box-shadow: 0 0 10px rgb(0 0 0 / 0.1);

}
aside img {
    width: 200px;
    height: auto;
}

p{ padding: 0;}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}

